.article-item {
  .content {
    .media {
      .screenshot {
        background-image: cover;
        border-radius: 5px;
        height: 100px;
      }
    }

    .title {
      color: $grey-darker;
      text-decoration: none;
    }

    .infos {
      color: $blue-light;
    }

    .search-ok {
      margin-left: 10px;
    }

    .share-stats {
      margin: 5px 25px 25px 25px;
    }
  }

  .control {
    border-top: 1px solid $grey-light;

    &.flex-wrap {
      a,
      button {
        @extend .mb8;
      }

      padding-bottom: 4px;
    }
  }
}
