// Responsive breakpoints

$gap: 12px;
$tablet: 769px;
$desktop: 1000px + (2 * $gap); // 1088px
$widescreen: $desktop;
$fullhd: $desktop;

// Colors

$black: hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;
$blue-light: rgba(132, 146, 166, 0.94);
$blue:  #0076FF;
$blue-dark: #1565C0;
$brown: #827717;
$cyan:         hsl(204, 86%, 53%) !default;
$green:        hsl(141, 71%, 48%) !default;
$grey-lighter: #F7F7F7;
$grey-light: #DAE1E3;
$grey: #A9A9A9;
$grey-dark: #808080;
$grey-darker:  #4A4A4A !default;
$orange:       hsl(14, 100%, 53%) !default;
$orange-dark:  hsl(14, 100%, 45%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red: #E60039;
$turquoise:    hsl(171, 100%, 41%) !default;
$violet: #BD10E0;
$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;
$yellow:       hsl(48, 100%, 67%) !default;

$primary: $green;

$text: $black;
$link: $text;
$title-color: inherit;
$subtitle-color: inherit;
$text-strong: inherit;
$success: $green;
$input-color: $text;

// Typography

$family-monospace: monospace !default;
$family-sans-serif: "Raleway", "Helvetica Neue", Arial, sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

$font-size: 16px;

$body-line-height: 16px;
$title-line-height: $body-line-height;
$subtitle-line-height: 1.2em;

// Sizes

$size-1: 36px !default;
$size-2: 32px !default;
$size-3: 28px !default;
$size-4: 24px !default;
$size-5: 20px !default;
$size-6: 16px !default;
$size-7: 12px !default;

// Forms

$control-height: 2.25em; // !! Not a bulma variable !!
$control-border-width: 2px;
$control-radius: $control-height/2;
$control-radius-small: $control-radius;
$input-border-color: $grey-light;
$input-focus-border-color: $primary;
$input-hover-border-color: $grey-light;
$input-disabled-border-color: $primary;
$input-focus-box-shadow-size: 0;
$input-shadow: none;
$label-weight: $weight-normal;

// Buttons

$button-border-color: $grey-light;
$button-padding-vertical: 0.1em;
$button-padding-horizontal: 0.75em;
$radius: 0;
$radius-small: 6px;
$radius-medium: 6px;
$button-disabled-opacity: 0.3;

// Spacing

$section-padding: 1rem 0;
$page-padding: 4rem;
$footer-height-padding: 1rem;

$header-height: 3.5rem; // 54px
$header-display-height: $header-height; // 150px
$footer-height: 3.5rem;

// Header

$navbar-dropdown-border-top: 1px dotted $primary;
$navbar-dropdown-radius: 0;

// Misc

$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.4);

// Notifications

$notification-padding: 0.75rem;

// Mixins

$rem-baseline: 16px !default;
$rem-fallback: true !default; // always force callback
$rem-px-only: false !default;

// Helpers
$flexSpaces: (0, 1, 2, 3, 4, 5, 6, 7);
$marginPaddingIntSizes: (
  0,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  12,
  16,
  18,
  20,
  22,
  24,
  28,
  30,
  32,
  36,
  40,
  48,
  56,
  60
);
$positionIntSizes: (-36, -8, 0, 8, 12);
$textIntSizes: (12, 13, 14, 15, 16, 18, 19, 20, 22, 30, 32, 36, 48, 52, 60, 80);
