.landing-main {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  section {
    &.hero {
      align-items: center;
      background-image: url("/images/hero-img.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      height: 700px;
      justify-content: center;
    }

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1024px;
      margin: auto;
    }
  }

  .cta {
    @extend .button;
    background-color: $white;
    border-radius: 1.5em;
    color: $turquoise;
    font-size: rem(18px);
    padding: 0.75em;
    padding-left: 30px;
    padding-right: 30px
  }

  .h1 {
    color: $white;
    font-size: rem(48px);
    font-weight: 200;
    text-align: center;
    margin-bottom: 100px
  }

  .h2 {
    color: $black;
    font-size: rem(44px);
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px
  }
}
