.review-main {
  .radio {
    height: 32px;

    span {
      @extend .p4;

      border-radius: 16px;
    }

    &.radio-2 {
      span {
        background-color: #c9f0f0;
      }
    }

    &.radio-1 {
      span {
        background-color: #88e749;
      }
    }

    &.radio-0 {
      span {
        background-color: #F7981D;
      }
    }

    &.radio-\-1 {
      span {
        background-color: #CC0000;
      }
    }

    &.radio-\-2 {
      span {
        background-color: #990000;
      }
    }

    &.radio-99 {
      span {
        background-color: #BABABA;
      }
    }
  }

  .checkbox {
    height: 32px;

    background-color: white;
    color: #9da2c4;

    border-color: $red;
    border-width: 1px;
    border-radius: 16px;
    border-style: solid;

    &.checkbox-1 {
      &.checked {
        color: #007b7b;
        background-color: #c9f0f0;
      }
      &.not-checked {
        border-style: solid;
      }
    }
    &.checkbox-0 {
      &.checked {
        color: #ffa63a;
        background-color: #ffd452;
      }
      &.not-checked {
      }
    }
    &.checkbox-\-1 {
      &.checked {
        color: #e53c3c;
        background-color: #facece;
      }
      &.not-checked {
      }
    }
  }
}
