.signup-main {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 1000px;
    padding-left: 150px;
    padding-right: 150px;
    align-self: center;
  }

  .title {
    height: 72px;
    font-family: Apercu;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #005cff;
    margin-bottom: 90px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    .button {
      height: 64px;
      width: 25%;
      border-radius: 10px;
      border: solid 1px #b0b4d1;
      background-color: #005cff;
      .title {
        font-family: Apercu;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }


}
