.trendings-main {
  .controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(12px);

    .themes {
      button {
        @extend .button;
        @extend .is-primary;

        &.selected {
          @extend .is-outlined;
        }
      }
    }

    .days {
      select {
        @extend .select;
      }
    }
  }
}
