.form-footer {
  align-items: center;
  background-color: $grey-lighter;
  display: flex;
  height: 6.25rem;
  justify-content: center;
  left: 0;
  right: 0;
  position: absolute;

  #cancel-review, #return-review {
    @extend .button;
    @extend .button.is-secondary;
  }

  #create-review, #modification-review {
    @extend .button;
    @extend .button.is-primary;
  }

  .space {
    width: 2rem;
  }
}
