.review-main {
  .form-fields {
    .field_label {
      font-size: $font-size-bigger;
    }

    .credibility-and-tags {
      display: flex;
      margin-left: -1rem;
      margin-right: -1rem;

      .radios-field {
        @extend .col-tablet-33;

        padding: 1rem;
      }

      .checkboxes-field {
        @extend .col-tablet-66;

        padding: 1rem;
      }
    }

    .radio {
      &.radio-2 {
        color: #007b7b;

        &.checked {
          background-color: #c9f0f0;
          border-color: #92e1e1;
        }
      }

      &.radio-1 {
        color: #88e749;

        &.checked {
          background-color: #c9f0f0;
          border-color: #92e1e1;
          border-top: 1px solid;
        }
      }

      &.radio-0 {
        color: #F7981D;

        &.checked {
          background-color: #c9f0f0;
          border-color: #ffa63a;
          border-top: 1px solid;
        }
      }

      &.radio-\-1 {
        color: #CC0000;

        &.checked {
          background-color: #c9f0f0;
          border-color: #ff4a27;
          border-top: 1px solid;
        }
      }

      &.radio-\-2 {
        color: #990000;

        &.checked {
          background-color: #c9f0f0;
          border-color: #ff4a27;
          border-top: 1px solid;
        }
      }
    }

    .checkbox {
      &.checkbox-1 {
        &.checked {
          button {
            border: 2px solid white;
            color: #007b7b;
            background-color: #c9f0f0;
          }
        }

        &.not-checked {
          button {
            border: 2px solid #92e1e1;
          }
        }
      }

      &.checkbox-0 {
        &.checked {
          button {
            border: 2px solid white;
            color: #ffa63a;
            background-color: #ffd452;
          }
        }

        &.not-checked {
          button {
            border: 2px solid #ffa63a;
          }
        }
      }

      &.checkbox-\-1 {
        &.checked {
          button {
            border: 2px solid white;
            color: #e53c3c;
            background-color: #facece;
          }
        }

        &.not-checked {
          button {
            border: 2px solid #e53c3c;
          }
        }
      }
    }
  }
}
