@import 'Authors.scss';
@import 'Avatar.scss';
@import 'Extract.scss';
@import 'Footer.scss';
@import 'Hamburger.scss';
@import 'Header.scss';
@import 'Logo.scss';
@import 'Main.scss';
@import 'Modal.scss';
@import 'Navigation.scss';
