.button {
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &:focus {
    outline: none;
  }

  &:not(.is-outlined) {
    border-width: 0;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }

  &.is-loading {
    &::after {
      border-bottom-color: $grey-darker;
      border-left-color: $grey-darker;
      border-right-color: transparent;
      border-top-color: transparent;
    }
  }

  &.is-secondary {
    background: none;
    border-color: transparent;
    color: $primary;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    &.is-inversed {
      background-color: $grey;
      color: $white;
      opacity: 0.25;
    }
  }

  &.is-outlined {
    box-shadow: none;
  }
}
