.button {
  border-radius: 1rem;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  min-width: 4em;
  padding: 0.5rem;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  &:focus {
    outline: none;
  }

  &:not(.is-outlined) {
    border-width: 0;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }


  &.is-loading {
    color: transparent!important;
    pointer-events: none;

    &::after {
      animation: spinAround .5s linear infinite;
      -webkit-animation: spinAround .5s linear infinite;
      border-bottom-color: $primary;
      border-left-color: $primary;
      border-radius: 290486px;
      border-right-color: transparent;
      border-style: solid;
      border-top-color: transparent;
      border-width: 2px;
      content: "";
      display: block;
      height: 1em;
      left: calc(50% - .5em);
      position: absolute!important;
      top: calc(50% - .5em);
      width: 1em;
    }
  }


  &.is-primary {
    background-color: $primary;
    border-color: transparent;
    color: $white;
  }


  &.is-secondary {
    background: none;
    border-color: transparent;
    color: $primary;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    &.is-inversed {
      background-color: $grey;
      color: $white;
      opacity: 0.25;
    }
  }

  &.is-outlined {
    background-color: transparent;
    box-shadow: none;
    color: $grey;
  }
}
