.fields-container {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 30px;
}

.field-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  font-family: Apercu;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  position: relative;

  .field-asterisk {
    color: $red;
    font-size: 25px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.field-sublabel {

  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
  height: 16px;
  font-family: Apercu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767584;
}

.field-control {
  margin-top: 15px;
}

.field-inner {
  border-radius: 3px;
  overflow: hidden;
  background-color: #f2f3f6;
  height: 60px;
}

.field-input {
  border: 0;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  background-color: transparent;
  height: 100%;
  font-family: Apercu;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;

  &:focus {
    border-color: $primary;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    outline:0px !important;
    -webkit-appearance:none;
  }
}

//
// TABLE
//

.fields-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//
// SEPARATOR
//

.field-separator {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .field-separator-title {
    height: 29px;
    font-family: Apercu;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
}


//
// PICTURE
//

.field-picture {
  margin-top: 15px;
  width: 190px;
  height: 190px;
  border-radius: 3px;
  background-color: #f2f3f6;

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//
// CHECKBOXES
//
.checkboxes-field {
  display: flex;
  flex-wrap: wrap;
}

.checkboxes-field {
  .field-inner {
    button {
      @extend .mb8;
      @extend .mr4;

      border: 2px solid $primary;
      border-radius: 16px;

      &.not-checked {
        // color: $primary;
        color: blue;
      }

      &.checked {
        background-color: $primary;
        color: white;

        &[disabled] {
          &[readonly] {
            opacity: 1;
          }
        }
      }

      &[disabled] {
        cursor: inherit;
      }
    }
  }
}

.field-checkboxes {
  .field-inner {
    height: 100%;
  }
}


//
// SUBMIT
//
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .button {
    width: 315px;
    height: 53px;
    border-radius: 26.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 92, 255, 0.33);
    background-color: $primary;

    .title {
      font-family: Apercu;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }
  }
}
