.fields-container {
  display: table;
  margin-bottom: 1rem;
  width: 100%;
}

//
// TABLE
//

.fields-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//
// SEPARATOR
//



//
// SUBMIT
//
