.field-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 30px;
}


.field-label {
  // @extend .mb12;
  // @extend .pb7;
  // @extend .pr12;
  // @extend .fs16;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Apercu;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  .field-asterisk {
    color: red;
    font-size: 25px;
  }
}

.field-sublabel {

  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
  height: 16px;
  font-family: Apercu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767584;
}


.field-control {
  margin-top: 15px;
}

.field-inner {
  border-radius: 3px;
  overflow: hidden;
  background-color: #f2f3f6;
  height: 60px;
}

.field-input {
  // @extend .py7;
  @extend .px18;
  // @extend .fs16;
  // @extend .flex-1;
  @extend .no-border;
  // @extend .is-medium;
  // @extend .no-outline;
  background-color: transparent;
  height: 18px;
  font-family: Apercu;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
}

.fields-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field-picture {
  margin-top: 15px;
  width: 190px;
  height: 190px;
  border-radius: 3px;
  background-color: #f2f3f6;
}
