* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow-y: auto;
}

body {
  background-color: $grey-lighter;
  color: $font-color-normal;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  min-height: 100%;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba($white, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba($white, 0);
  -webkit-touch-callout: none;
  width: 100%;
}
