.checkbox-field {
  @extend .text-field;

  margin-bottom: 0px;

  .checkbox-text-container {
    color: $black;
    height: 58px;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    padding-left: 14px;
  }
}
