.checkbox-field {
  @extend .text-field;

  .field-control {
    align-items: center;
    height: 0.75rem;
    display: flex;
    margin-bottom: 0;

    span {
      font-size: $font-size-small;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      padding-left: 0.75rem;
    }
  }
}
