$black:             hsl(0, 0%, 4%) !default;
$black-bis:         hsl(0, 0%, 7%) !default;
$black-ter:         hsl(0, 0%, 14%) !default;
$blue-lighterer:    #FAFCFF;
$blue-lighter:      #EDF4FF;
$blue-light:        #96BCFF;
$blue:              #005CFF;
$blue-dark:         #1565C0;
$brown:             #827717;
$cyan:              hsl(204, 86%, 53%) !default;
$green:             hsl(141, 71%, 48%) !default;
$grey-very-lighter: #F7F7F7;
$grey-lighter:      #F2F3F6;
$grey-light:        #E4E6F4;
$grey:              #9DA2C4;
$grey-dark:         #808080;
$grey-darker:       #1f2338 !default;
$orange:            hsl(14, 100%, 53%) !default;
$orange-dark:       hsl(14, 100%, 45%) !default;
$purple:            hsl(271, 100%, 71%) !default;
$red:               #FF6D51;
$turquoise:         #00B0E2;
$turquoise-dark:    #026480;
$violet:            #BD10E0;
$white-ter:         hsl(0, 0%, 96%) !default;
$white-bis:         hsl(0, 0%, 98%) !default;
$white:             hsl(0, 0%, 100%) !default;
$yellow:            hsl(48, 100%, 67%) !default;

$primary: $turquoise;

$text: $black;
$link: $text;
$title-color: inherit;
$subtitle-color: inherit;
$text-strong: inherit;
$success: $green;
$input-color: $text;
