$control-height: 2.25em; // !! Not a bulma variable !!
$control-border-width: 2px;
$control-radius: $control-height/2;
$control-radius-small: $control-radius;
$input-border-color: $grey-light;
$input-focus-border-color: $primary;
$input-hover-border-color: $grey-light;
$input-disabled-border-color: $primary;
$input-focus-box-shadow-size: 0;
$input-shadow: none;
$label-weight: $weight-normal;
