$header-height: 6rem;

$size-1: 36px !default;
$size-2: 32px !default;
$size-3: 28px !default;
$size-4: 24px !default;
$size-5: 20px !default;
$size-6: 16px !default;
$size-7: 12px !default;

$footer-height: 2rem;
$footer-height-padding: 1rem;
$header-display-height: $header-height;
$notification-padding: 0.75rem;
$page-padding: 4rem;
$section-padding: 1rem 0;
