$font-family-sans-serif: "Raleway", "Helvetica Neue", Arial, sans-serif;

$font-color-normal: $grey-dark;

$font-size-big: 1.5rem;
$font-size-bigger: 2rem;
$font-size-smaller: 0.75rem;
$font-size-small: 0.875rem;
$font-size-normal: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$font-size: 16px;

$body-line-height: 16px;
$title-line-height: $body-line-height;
$subtitle-line-height: 1.2em;

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  src: url("../../fonts/SourceSansPro-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/SourceSansPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  src: url("../../fonts/SourceSansPro-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: bold;
  src: url("../../fonts/SourceSansPro-Bold.ttf") format('truetype');
}
