$font-family-sans-serif: Apercu, sans-serif;

$font-color-normal: $grey-dark;

$font-size-little-big: 1.125rem;
$font-size-big: 1.25rem;
$font-size-bigger: 1.5rem;
$font-size-very-big: 1.75rem;
$font-size-normal: 1rem;
$font-size-smaller: 0.75rem;
$font-size-small: 0.875rem;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$body-line-height: 16px;
$title-line-height: $body-line-height;
$subtitle-line-height: 1.2em;
