.footer {
  align-items: center;
  background-color: $black-ter;
  color: $white;
  display: flex;
  padding: rem(36px);

  .left {
    margin-bottom: rem(8px);
    
    .contact {
      color: $primary;
      text-decoration: none;
    }
  }


}
