a.logo {
  color: $black;
  font-size: $font-size-big;
  font-weight: $font-weight-light;
  text-decoration: none;

  img {
    margin: 0.25em;
    max-height: 2.25em;
    height: 2.25em;
    vertical-align: middle;
  }
}
