.main {
  padding-top: $header-height;
  min-height: 100vh;

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    .section {
      margin-bottom: 32px;

      &.fullheight {
        min-height: 100vh;
      }

      .title {
        @extend .fs22;

        color: $grey-darker;
        font-weight: 500;
        margin-bottom: rem(16px);
      }

      .subtitle {
        @extend .fs18;

        color: $grey;
        font-weight: 400;
        margin-bottom: rem(8px);
      }
    }
  }
}
