.main {
  padding-top: $header-height;
  min-height: 100vh;

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1024px;

    section {
      margin-bottom: 2rem;

      &.fullheight {
        min-height: 100vh;
      }

      .title {
        color: $grey-darker;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }

      .separator {
        border-top: 2px solid $grey-light;
        height: 1px;
        opacity: 0.5;
        width: 100%;
      }

      .subtitle {
        color: $grey;
        font-weight: $font-weight-semibold;
        font-size: $font-size-little-big;
        margin-bottom: 0.5rem;
      }

      .item {
        border: 1px solid $grey-light;
        border-radius: 0.625rem;
        box-shadow: none;
      }
    }
  }
}
