.menu {
  display: none;
  z-index: 3001; // needed to go above the fixed CTA button on home page
  position: fixed;
  top: rem(32px);
  left: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  user-select: none;

  &.showing {
    display: block;
    opacity: 1;
    animation: fade-in 0.5s cubic-bezier(0.25, 0.15, 0.3, 1.1) backwards;

    &:active,
    &:focus {
      outline: none !important;
    }
  }

  .items {
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: black;
    max-width: rem(400px);
    padding-bottom: rem(12px);
    padding-left: rem(12px);
    padding-right: rem(12px);
    padding-top: rem(12px);
    position: absolute;
    right: rem(4px);
    top: rem(50px);
    z-index: 100;
    width: calc(100% - 1rem);

    // arrow
    // before for an outline in grey, so arrow doesn't disappear on white background;
    // after for real (white) arrow
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      pointer-events: none;
    }

    &::before {
      right: 32px;
      border: 11px solid transparent;
      border-bottom-color: $grey-light;
    }

    &::after {
      right: 34px;
      border: 10px solid transparent;
      border-bottom-color: white;
    }

    .item {
      border-bottom: 1px solid $grey-light;
      display: inherit;
      position: relative;
      width: 100%;

      &.navigation {
        @media(min-width: $tablet) {
          display: none;
        }
      }

      .link {
        color: $grey;
        display: block;
        font-weight: 500;
        padding-bottom: 1rem;
        padding-left: rem(12px);
        padding-right: rem(12px);
        padding-top: 1rem;
        text-decoration: none;
        transition: transform 250ms ease-out;

        &:hover,
        &:focus {
          transform: translateX(6px);
        }

        &.current {
          cursor: inherit;
          color: $primary;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }
}
