@import 'form/index.scss';

@import 'Authors.scss';
@import 'Avatar.scss';
@import 'Extract.scss';
@import 'Footer.scss';
@import 'Header/index.scss';
@import 'Icon.scss';
@import 'Logo.scss';
@import 'Main.scss';
@import 'Modal.scss';
@import 'Spinner.scss';
@import 'UserItem.scss';
@import 'VerdictItem.scss';
