.checkboxes {
  @extend .item;

  display: flex;
  flex-wrap: wrap;

  .checkbox {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0.2rem;

    &.checked {
      &[disabled] {
        &[readonly] {
          opacity: 1;
        }
      }
    }

    &[disabled] {
      cursor: inherit;
    }

    &:focus {
      box-shadow: none !important;
      outline:0px !important;
      -webkit-appearance:none;
    }

    button {
      background-color: transparent;
      border: 2px solid $primary;
      border-radius: 1rem;
      color: $grey;
      font-size: $font-size-smaller;
      font-weight: $font-weight-bold;
      padding: 0.4rem;
      padding-right: 0.8rem;
      padding-left: 0.8rem;
      text-transform: capitalize;
      cursor: pointer;

      &:focus {
        box-shadow: none !important;
        outline:0px !important;
        -webkit-appearance:none;
      }
    }
  }
}
