@import 'Menu.scss';
@import 'Navigations.scss';

.header {
  * {
    pointer-events: auto;
  }

  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;

  &.scrolling {
    filter: blur(1px);
    opacity: 0.1;
    pointer-events: none;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 24px;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    max-width: $header-and-footer-max-width;
    transition: filter 0.5s, opacity 0.5s;
    width: 100%;
    z-index: 1000;

    .left-content {
      .logo {
        img {
          margin: 0.25em;
          max-height: 2.25em;
          width: 258px;
          height: auto;
          vertical-align: middle;
        }
      }
    }
  }
}
