.field-error {
  color: $red;
  display: block;
  font-weight: 200;
  padding-top: rem(10px);

  &:empty::before {
    content: "\200b";
  }

  &.field-error-message + .field-error-message {
    color: $red;
    padding-left: rem(12px);
  }

  .container {
    display: flex;

    .icon {
      flex: 0;
      margin-right: rem(4px);
    }

    .messages {
      flex: 1;
      font-weight: $font-weight-semibold;

      .message {
        display: block;
        margin-top: rem(2px);
      }
    }
  }
}
