.form-footer {
  align-items: center;
  background-color: $grey-lighter;
  display: flex;
  height: 6.25rem;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  #cancel-review,
  #return-review,
  #cancel-article,
  #cancel-verdict
  {
    @extend .button;
    @extend .button.is-secondary;
    margin-right: 2rem
  }

  #create-review,
  #modification-review,
  #edit-article,
  #submit-verdict,
  #edit-verdict
  #create-own-review,
  #see-own-review
  {
    @extend .button;
    @extend .button.is-primary;
    margin-right: 4rem
  }

  .space {
    width: 2rem;
  }
}
