.article-main {
  .optional-subtitle {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .url {
    border: 2px solid $grey-light;
    border-radius: 5px;
  }
}


.articles-main {
  .section.hero {
    .control {
      @extend .b12;
      @extend .t-8;
      @extend .r8;

      @media (min-width: $desktop) {
        bottom: 12px;
        position: absolute;
        top: 8px;
        right: 8px;
      }

      button {
        @extend .mb8;

        @media (min-width: $desktop) {
          margin-bottom: 0;
        }
      }
    }
  }
}
