.article-main {
  
}


.articles-main {

  .feeds {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .article-wrapper {
    @extend .col-desktop-50;
    padding: 10px
  }
}
