@import "ImageAddButton.scss";

$control-bar-height: 2.375rem;

.control-bar {
  align-items: center;
  background-color: $grey-very-lighter;
  border-radius: $border-radius;
  display: flex;
  height: $control-bar-height;
  left: 0rem;
  right: 0rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;

  .rule {
    margin-right: 0.75rem;
  }

  .auto {
    flex: 1 1 auto;
  }
}
